<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="static/libs/fontawesome/css/all.css">
    <link rel="stylesheet" href="static/dist/css/core.min.css">
    <title>Electron-player</title>
    <!-- <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script> -->
    <script>window.$ = window.jQuery = require('jquery')</script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .isActive {
            background: rgb(66, 6, 6);
        }

        .expand-menu {
            max-height: 399px !important;
        }

        .file-pin {
            position: absolute;
            top: 10%;
            left: 90%;
        }

        .file-pin>i {
            font-size: 10px;
        }
    </style>
</head>

<body>
    <div class="initial-message">
        <h2>Drop Files or Folder Here</h2>
    </div>
    <div class="video-player">
        <div class="video-controls-container" width="768">
            <div class="video-controls">
                <div class="slider-container">
                    <input type="range" min="1" max="100" value="0" class="slider">
                    <output id="slider-output" data-display="false"></output>
                </div>
                <div class="pp-button">
                    <i id="play-button" class="fas fa-play"></i>
                    <i id="pause-button" class="fas fa-pause"></i>
                </div>
                <div class="fullscrean">
                    <i class="fas fa-compress"></i>
                </div>
                <div class="previous">
                    <i class="fas fa-step-backward"></i>

                </div>
                <div class="next">
                    <i class="fas fa-step-forward"></i>

                </div>
                <div class="step-previous">
                    <i class="fas fa-backward"></i>

                </div>
                <div class="step-next">
                    <i class="fas fa-forward"></i>
                </div>
                <div class="timer">
                    <span>00:00 / 00:00</span>
                </div>
                <div class="skip-menu">
                    <select name="skip-menu-select" id="skip-menu">
                        <option value="0">No-Skip</option>
                        <option value="1">Manual-Skip</option>
                        <option value="2">Auto-Skip</option>
                    </select>
                </div>
                <div class="sound">
                    <i class="fas fa-volume-up"></i>
                    <input type="range" min="0" max="100" value="100" class="slider-sound">
                </div>
            </div>
        </div>

        <div class="video-container">
            <video id="player" width="768" height="432" autoplay>
                <source src="" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            <div class="skip-button">
                <i class="fas fa-share"></i>
                <span> Skip</span>
            </div>

        </div>

        <div class="lateral-menu">

            <div class="pin-button">
                <button id="pin-button">
                    <i class="fas fa-thumbtack"></i>
                    <span>1</span>
                </button>
            </div>
            <div class="play-list">
                <button id="play-list">
                    <i class="fas fa-list"></i>
                </button>
            </div>
            <div class="side-menu">
                <ul id="side-menu-ul">
                    <li v-on:click="jump(file)" v-for="file in files">
                        <div class="file-relative">
                            <div class="file-img">
                                <img v-bind:src="file.img" alt="">
                            </div>
                            <div class="file-title"><span>{{file.title}}</span></div>
                            <div class="file-time"><span>{{file.time}}</span></div>
                            <div class="file-pin" v-if="file.isPinned"><i class="fas fa-thumbtack"></i></div>
                        </div>
                    </li>

                </ul>
            </div>

        </div>




    </div>
</body>
<script src="http://localhost:35729/livereload.js"></script>
<script src="https://momentjs.com/downloads/moment.js"></script>
<script>
    const element = require('../elements.js')
</script>
<script src="../player.js"></script>

</html>