body{
    background:#000000;
    color: white;
    font-family: 'sans-serif';
    margin: 0;
    padding: 0;
}
.video-player{
    position: absolute;
    $top:50%;
    $left:50%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    display: inline-flex;
    & > video{
        &:focus{
            outline: none;
        }
    }
}
.video-controls{
    width: 768px;
    height: 50px;
    position: absolute;
    bottom: 0;
    background: rgba(0,0,0,0.75);
    display: none;
    z-index:2147483647 !important;
    
}


.pp-button{
    position: absolute;
    $top:50%;
    $left:5%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
    &:hover{
        background: #990000;
        border-radius: 2px;
        padding: 5px 5px;
    }
}

.fullscrean{
    position: absolute;
    $top:50%;
    $left:96%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
    &:hover{
        background: #990000;
        border-radius: 2px;
        padding: 5px 5px;
    }
}

.sound{
    display: inline-flex;
    position: absolute;
    $top:50%;
    $left:57.5%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
   
    
}

.previous{
    position: absolute;
    $top:50%;
    $left:10%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
    &:hover{
        background: #990000;
        border-radius: 2px;
        padding: 5px 5px;
    }
}

.next{
    position: absolute;
    $top:50%;
    $left:15%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
    &:hover{
        background: #990000;
        border-radius: 2px;
        padding: 5px 5px;
    }
}

.step-previous{
    position: absolute;
    $top:50%;
    $left:20%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
    &:hover{
        background: #990000;
        border-radius: 2px;
        padding: 5px 5px;
    }
}
.skip-button{
    width: 75px;
    font-weight: 800;
    position: absolute;
    $top:80%;
    $left:90%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    background: #990000;
    border-radius: 2px;
    padding: 5px 5px;
    cursor: pointer;
    display: none;
    text-align: center;
    z-index: 2147483647;

}

.step-next{
    position: absolute;
    $top:50%;
    $left:25%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
    &:hover{
        background: #990000;
        border-radius: 2px;
        padding: 5px 5px;
    }
}

.timer{
    font-family: 'sans-serif';
    font-weight:800;
    position: absolute;
    $top:50%;
    $left:35%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
}
#pin-button{
    font-weight: 800;
    display: inline-flex;
    float: right;
    cursor: pointer;
    background: #990000;
    border: none;
    padding: 8px;
    color: white;
    &:focus{
        outline: none;
    }
}

#play-list{
    font-weight: 800;
    display: inline-flex;
    float: right;
    cursor: pointer;
    background: #990000;
    border: none;
    padding: 10px;
    color: white;
    &:focus{
        outline: none;
    }
}


.slider-container{
    width: 100%;
    position: absolute;
    $top:-40%;
    $left:0%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
}
.slider{
    width: 99.5%;
    appearance: none;
    border-radius: 5px;
    height: 8px;
    background: white;
    outline: none;
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #990000;
    cursor: pointer;
  }

  .slider-sound{
    position: relative;
    top: 2px;
    width: 100%;
    appearance: none;
    border-radius: 5px;
    height: 8px;
    background: white;
    outline: none;
}
.slider-sound::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%; 
    background: #990000;
    cursor: pointer;
  }

.skip-menu{
    position: absolute;
    $top:50%;
    $left:90%;
    top: $top;
    left: $left;
    transform: translate(-$left,-$top);
    cursor: pointer;
    & > select{
        font-weight: 800;
        border: none;
        color: white;
        background: #990000;
        outline: none;
        
        }
    }
    #player{
        min-width: 768px;
        min-height: 432px;
        max-width: 768px;
        max-height: 432px;
    }



#play-button{
    display: none;
}

// video::-webkit-media-controls {
//     display:none !important;
// }

// video::-webkit-media-controls-enclosure {
//     display:none !important;
// }
// video:fullscreen{
//     z-index: 10;
// }
